@page "/commandeid/{id}"
@inject NavigationManager NavigationManager
@inject HttpClient HttpClient

<h3>Détails de la commande</h3>

@if (commande == null)
{
    <p>Chargement des détails de la commande...</p>
}
else
{
    <p>ID de la commande : @commande.Id</p>
    <p>Date de la commande : @commande.DateCommande</p>
    <p>Prix Htva : @commande.PrixHtva €</p>
    <p>Prix TvaC : @commande.PrixTvaC €</p>
    <p>Date de suppression : @commande.DeletedAt</p>
}

@code {
    private Commande commande;

    protected override async Task OnInitializedAsync()
    {
        string commandeId = NavigationManager.Uri.Split('/').Last();
        await GetCommandeDetails(commandeId);
    }

    private async Task GetCommandeDetails(string commandeId)
    {
        var request = new HttpRequestMessage(HttpMethod.Get, $"api/commande/get/{commandeId}");

        using (var response = await HttpClient.SendAsync(request))
        {
            if (response.IsSuccessStatusCode)
            {
                commande = await response.Content.ReadFromJsonAsync<Commande>();
            }
        }
    }
}
