@page "/commandearticle"
@inject StateContainer StateContainer
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
@using GesConso
@using GesConso.Entities
@*@using System*@


<PageTitle>Gestion des commandes Articles</PageTitle>
<div class="row">
    @*<div class="col-md-6">*@
        <table class="table table-striped">
            <thead>
                <tr>
                @if (CommandeIdSelected != Guid.Empty)
                {

                    <th>Dénomination Article</th>
                    <th>Quantité</th>
                    <th>PuHtva</th>
                }
                else
                {
                    
                <th>ID_Commande</th>
                    <th>ID_Article</th>
                    <th>Quantité</th>
                
            }
 
                    
                </tr>
            </thead>
            <tbody>
            @if (CommandeIdSelected != Guid.Empty)
            {
                var totals = new Dictionary<Guid, double>(); // Dictionnaire pour stocker les totaux par commande

                foreach (var commandeArticle in StateContainer.CommandeArticle)
                {
                    if (commandeArticle.Id_Commande == CommandeIdSelected)
                    {
                        var isSelected = selected == commandeArticle;
                        var style = isSelected ? "box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); border: 1px solid #333; color: white; background-color: #337ab7;" : string.Empty;

                        var article = StateContainer.Articles.FirstOrDefault(a => a.Id == commandeArticle.Id_Article);
                        if (article != null)
                        {
                            double calculatedValue = CalculatePuHtva(article, commandeArticle.Quantite.GetValueOrDefault());

                            if (!totals.ContainsKey(CommandeIdSelected))
                            {
                                totals[CommandeIdSelected] = calculatedValue;
                            }
                            else
                            {
                                totals[CommandeIdSelected] += calculatedValue;
                            }

                            <tr @onclick="(() => SelectCommandeArticle(commandeArticle))" style="@(GetRowStyle(commandeArticle))">
                                <td>@article.Denomination</td>
                                <td>@commandeArticle.Quantite</td>
                                <td>@CalculatePuHtva(article, commandeArticle.Quantite.GetValueOrDefault())</td>
                            </tr>
                        }
                    }
                }

                if (totals.ContainsKey(CommandeIdSelected))
                {
                    double total = totals[CommandeIdSelected];
                    <tr>
                        <td colspan="2"><strong>Total:</strong></td>
                        <td><strong>@total</strong></td>
                    </tr>
                }
            }

            else
            {
                @foreach (var commandeArticle in StateContainer.CommandeArticle)
                {
                    // Vérifier si la commande correspond à CommandeId

                        var isSelected = selected == commandeArticle;
                        var style = isSelected ? "box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); border: 1px solid #333; color: white; background-color: #337ab7;" : string.Empty;
                        <tr @onclick="(() => SelectCommandeArticle(commandeArticle))" style="@(GetRowStyle(commandeArticle))">
                            <td>@commandeArticle.Id_Commande</td>
                            <td>@commandeArticle.Id_Article</td>
                            <td>@commandeArticle.Quantite</td>
                        </tr>

                }
            }





            </tbody>
        </table>


@*    </div>
    <div class="col-md-6">*@
        <form>

@*            <label for="commande">Choisissez une commande :</label>
*@

@*            <select id="commande" class="form-control" @bind="@_idCommande">
                @foreach (var commande in StateContainer.Commandes)
                {
                    <option value="@commande.Id">@commande.Id</option>
                }
            </select>*@
        
            <label for="article">Choisissez un article :</label>
            <select id="article" class="form-control" @bind="@_idArticle">
                @foreach (var article in StateContainer.Articles)
                {
                    <option value="@article.Id">@article.Denomination</option>
                }
            </select>



            <div class="form-group">
                <label for="quantite">Quantité</label>
                <input id="quantite" type="number" class="form-control" @bind="_quantite" min="1" />
            </div>




            <div>
                @if (_createdAt is not null)
                {
                    <p>Créé : @_createdAt</p>
                    <p>Modifié : @_updatedAt</p>
                }
                @if (_deletedAt is not null)
                {
                    <p>Effacé : @_deletedAt</p>

                }
            </div>



            <div class="buttonsGroup m-1 ml-auto" style="display: flex; gap: 5px; justify-content: flex-end;">
                @if (selected is null)
                {
                    <button type="button" class="btn btn-primary" @onclick="AddCommandeArticle">Ajouter</button>
                }
                else
                {
                    <button type="button" class="btn btn-danger" @onclick="UpdateCommandeArticle">Sauver</button>
                }
                <button type="button" class="btn btn-secondary" @onclick="Reset">Reset</button>

                @if (selected is not null)
                {
 
                        <button type="button" class="btn btn-danger" @onclick="DeleteCompleteCommandeArticle">Effacer</button>
                    
                }

            </div>



        </form>
    @*</div>*@

</div>


@code {

    [Parameter]
    public Action<CommandeArticle?>? OnCommandeArticleSelected { get; set; }

    [Parameter]
    public Guid CommandeIdSelected { get; set; }


    CommandeArticle commandeArticle = new CommandeArticle();
    private CommandeArticle? selected = null;

    private Guid _idCommande = Guid.Empty;
    private Guid _idArticle = Guid.Empty;

    private int _quantite = 1;


    private DateTime? _createdAt = null;
    private DateTime? _updatedAt = null;
    private DateTime? _deletedAt = null;

    public Guid OnSelectCommande = Guid.Empty;

    List<double> calculTotal = new List<double>();
    
 


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;

        await LoadDataAsync<List<Commande>>("api/commande/getall", commandes =>
        {
            StateContainer.Commandes = commandes;
        });

        await LoadDataAsync<List<Article>>("api/article/getall", articles =>
        {
            StateContainer.Articles = articles;
        });

        await LoadDataAsync<List<CommandeArticle>>("api/commandearticle/getall", commandeArticles =>
        {
            StateContainer.CommandeArticle = commandeArticles;
        });

        await InvokeAsync(StateHasChanged);
    }

    private async Task LoadDataAsync<T>(string requestUri, Action<T> setDataAction)
    {
        var request = new HttpRequestMessage(HttpMethod.Get, $"{NavigationManager.BaseUri}{requestUri}");

        using (var response = await HttpClient.SendAsync(request))
        {
            if (response.IsSuccessStatusCode)
            {
                var data = await response.Content.ReadFromJsonAsync<T>();
                if (data != null)
                {
                    setDataAction(data);
                }
            }
            else
            {
                Console.WriteLine("Error");
            }
        }
    }



    // Ajouter une commande d'article
    private async Task AddCommandeArticle()
    {
        var newCommandeArticle = new CommandeArticle
            {
                Id = Guid.NewGuid(),
                Id_Commande = CommandeIdSelected,
                Id_Article = _idArticle,
                Quantite = _quantite,
                CreatedAt = DateTime.Now,
                UpdatedAt = DateTime.Now,

    };

        Console.WriteLine(newCommandeArticle);
        var content = JsonContent.Create(newCommandeArticle);

        var requestMsg = new HttpRequestMessage(HttpMethod.Post, $"{NavigationManager.BaseUri}api/commandearticle/add");
        requestMsg.Content = content;

        using (var msg = await HttpClient.SendAsync(requestMsg))
        {
            if (msg.IsSuccessStatusCode)
            {
                //ToastService.ShowSuccess("Article ajouté!");
            }
            else
            {
                //ToastService.ShowError("Une erreur s'est produite.");
            }
        }

        StateContainer.CommandeArticle?.Add(newCommandeArticle);

        Reset();
    }

    // Mettre à jour une commande d'article
    private async Task UpdateCommandeArticle()
    {
        if (selected is null)
        {
            return;
        }

        var commandeArticleUpdate = new CommandeArticle
            {
                Id = this.selected.Id,
                Id_Article = _idArticle,
                Id_Commande = CommandeIdSelected,
                Quantite = _quantite,
                CreatedAt = _createdAt,
                UpdatedAt = DateTime.Now,
                DeletedAt = _deletedAt,
            };

        Console.WriteLine("Commande Article Update:");
        Console.WriteLine($"ID: {commandeArticleUpdate.Id_Commande}");


        var requestMsg = new HttpRequestMessage(HttpMethod.Post, $"{NavigationManager.BaseUri}api/commandearticle/update");
        requestMsg.Content = JsonContent.Create(commandeArticleUpdate);

        using (var msg = await HttpClient.SendAsync(requestMsg))
        {
            if (msg.IsSuccessStatusCode)
            {
                var index = StateContainer.CommandeArticle.IndexOf(selected);
                if (index != -1)
                {
                    StateContainer.CommandeArticle[index] = commandeArticleUpdate;
                    UnSelectCommandeArticle();
                }
            }
        }
    }



    // RESET
    private void Reset()
    {
        _idArticle = Guid.Empty;
        _idCommande = Guid.Empty;
        _quantite = 1;
        _createdAt = null;
        _updatedAt = null;
        _deletedAt = null;
        selected = null;

    }

    // Delete Commande d'Article
    private async Task DeleteCommandeArticle()
    {
        if (selected is null)
        {
            return;
        }

        var commandeArticleUpdate = new CommandeArticle
            {
                Id = this.selected.Id,
                Id_Article = _idArticle,
                Id_Commande = _idCommande,
                Quantite = _quantite,
                CreatedAt = _createdAt,
                UpdatedAt = DateTime.Now,
                DeletedAt = DateTime.Now,
            };

        Console.WriteLine(commandeArticleUpdate);
        var requestMsg = new HttpRequestMessage(HttpMethod.Post, $"{NavigationManager.BaseUri}api/commandearticle/update");
        requestMsg.Content = JsonContent.Create(commandeArticleUpdate);

        using (var response = await HttpClient.SendAsync(requestMsg))
        {
            if (response.IsSuccessStatusCode)
            {
                var index = StateContainer.CommandeArticle.IndexOf(selected);
                if (index != -1)
                {
                    StateContainer.CommandeArticle[index] = commandeArticleUpdate;
                    UnSelectCommandeArticle();
                }
            }
        }
    }


    // Effacer un Article
    private async Task DeleteCompleteCommandeArticle()
    {
        if (selected is null)
        {
            return;
        }
        bool confirmed = await ConfirmDelete();

        if (!confirmed)
        {
            return;
        }
        var requestMsg = new HttpRequestMessage(HttpMethod.Post, $"{NavigationManager.BaseUri}api/commandearticle/delete");
        requestMsg.Content = JsonContent.Create(selected);
        using (var msg = await HttpClient.SendAsync(requestMsg))
        {
            if (msg.IsSuccessStatusCode)
            {
                StateContainer.CommandeArticle.Remove(selected);
                UnSelectCommandeArticle();
            }
        }
    }

    // Selectionner une Commande d'article
    private void SelectCommandeArticle(CommandeArticle commandeArticle)
    {
        selected = commandeArticle;
        OnCommandeArticleSelected?.Invoke(commandeArticle);


        _idArticle = commandeArticle?.Id_Article ?? Guid.Empty;
        _idCommande = commandeArticle?.Id_Commande ?? Guid.Empty;
        _quantite = commandeArticle?.Quantite ?? int.MinValue;
        _createdAt = commandeArticle?.CreatedAt;
        _updatedAt = commandeArticle?.UpdatedAt;
        _deletedAt = commandeArticle?.DeletedAt;
    }



    private void UnSelectCommandeArticle()
    {
        selected = null;
        Reset();
    }
    private string GetRowStyle(CommandeArticle commandeArticle)
    {
        return selected == commandeArticle ? "box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); border: 1px solid #333; color: white; background-color: #337ab7;" : string.Empty;
    }



    async Task<bool> ConfirmDelete()
    {
        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Êtes-vous sûr de vouloir supprimer définitivement cet article ??");
        return confirmed;
    }

    private Double CalculatePuHtva(Article article, int Quantite)
    {
        double puHtva = article.PuHtva ?? 0.0; // Valeur par défaut si article.PuHtva est null
        return puHtva * Quantite;
    }
}
