@page "/commande/get/{id}"
@inject StateContainer StateContainer
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
@inject IToastService ToastService

<PageTitle>Détails de la commande</PageTitle>
<BlazoredToasts />

<h1>Détails de la commande</h1>

@if (StateContainer.SelectedCommande is not null)
{
    <div class="row">
    <div class="col-md-9">
    <Table>
        <TableRow>
            <TableRowCell>ID Commande:</TableRowCell>
            <TableRowCell>@StateContainer.SelectedCommande.Id</TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowCell>ID Date:</TableRowCell>
            <TableRowCell>@((StateContainer.SelectedCommande.Id_Date.HasValue ? ((DateTime)StateContainer.SelectedCommande.Id_Date).ToString("yyyyMMdd") : ""))</TableRowCell>
            </TableRow>
            <TableRow>
                <TableRowCell>Date et heure de la Commande:</TableRowCell>
                <TableRowCell>
                            <input type="datetime-local" id="date" class="form-control" @bind="StateContainer.SelectedCommande.DateCommande" />

                    @*<InputDate id="date" class="form-control" @bind-Value="@StateContainer.SelectedCommande.DateCommande" />*@
                </TableRowCell>
            </TableRow>
            <TableRow>
                <TableRowCell>Prix Htva :</TableRowCell>
                <TableRowCell>@StateContainer.SelectedCommande.PrixHtva €</TableRowCell>
            </TableRow>
            <TableRow>
                <TableRowCell>Prix TvaC :</TableRowCell>
                <TableRowCell>@StateContainer.SelectedCommande.PrixTvaC €</TableRowCell>
            </TableRow>
            <TableRow>
                <TableRowCell>Date de création :</TableRowCell>
                <TableRowCell>@StateContainer.SelectedCommande.CreatedAt</TableRowCell>
            </TableRow>
            <TableRow>
                <TableRowCell>Date de modification :</TableRowCell>
                <TableRowCell>@StateContainer.SelectedCommande.UpdatedAt</TableRowCell>
            </TableRow>
            <TableRow>
                <TableRowCell>Date d'effacement :</TableRowCell>
                <TableRowCell>@StateContainer.SelectedCommande.DeletedAt</TableRowCell>
            </TableRow>
        </Table>
        </div></div>

    <button type="button" class="btn btn-info m-2" @onclick="UpdateCommande"><i class="oi oi-check"></i> Update</button>

    @if (StateContainer.SelectedCommande.DeletedAt is null)
    {
        <button type="button" class="btn btn-danger m-2" @onclick="DeleteCommande"><i class="oi oi-trash"></i> Delete</button>
    }
    else
    {
        <button type="button" class="btn btn-info m-2" @onclick="RestoreDeletedCommande"><i class="oi oi-action-undo"></i> Restaurer</button>
    }

    <CommandeArticleManager CommandeIdSelected="@(StateContainer.SelectedCommande.Id ?? default)" />
}
else
{
    <p>Commande introuvable.</p>
}

<button class="btn btn-primary m-2" @onclick="GoBack"><i class="oi oi-action-undo"></i> Retour</button>

@code {
    [Parameter]
    public string? Id { get; set; }
    [Parameter]
    public Action? OnCommandeSelected { get; set; }
    private Action? OnCommandeUpdated;
    private Action? OnCommandeArticleUpdated;

    protected override async Task OnInitializedAsync()
    {
        OnCommandeUpdated = async () =>
        {
            await InvokeAsync(StateHasChanged);
        };
        OnCommandeSelected = async () =>
        {
            await InvokeAsync(StateHasChanged);
        };
        OnCommandeArticleUpdated = async () =>
        {
            await GetCommandeById(StateContainer.SelectedCommande?.Id.ToString());
            await InvokeAsync(StateHasChanged);
        };
        StateContainer.OnCommandeUpdated += OnCommandeUpdated;
        StateContainer.OnCommandeSelected += OnCommandeSelected;
        StateContainer.OnCommandeArticleUpdated += OnCommandeArticleUpdated; 
        await GetCommandeById(Id);
    }

    public async Task GetCommandeById(string? id)
    {
        var request = new HttpRequestMessage(HttpMethod.Get, $"{NavigationManager.BaseUri}api/commande/get?id={id}");

        using var response = await HttpClient.SendAsync(request);

        if (response.IsSuccessStatusCode)
        {
            try
            {
                var commande = await response.Content.ReadFromJsonAsync<Commande>();

                if (commande != null)
                {
                    StateContainer.SelectedCommande = commande;
                    await InvokeAsync(StateHasChanged);
                }
                else
                {
                    Console.WriteLine("Commande not found.");
                }
            }
            catch (Exception ex)
            {
                Console.WriteLine("Error deserializing response content: " + ex.Message);
            }
        }
        else
        {
            Console.WriteLine("Error retrieving commande. Status code: " + response.StatusCode);
        }
    }

    private async Task UpdateCommande()
    {
        var commandeUpdate = new Commande
            {
                Id = StateContainer.SelectedCommande?.Id,
                Id_Date = StateContainer.SelectedCommande?.Id_Date,
                DateCommande = StateContainer.SelectedCommande?.DateCommande,
                PrixHtva = StateContainer.SelectedCommande?.PrixHtva,
                PrixTvaC = StateContainer.SelectedCommande?.PrixTvaC,
                CreatedAt = StateContainer.SelectedCommande?.CreatedAt,
                UpdatedAt = DateTime.Now,
                DeletedAt = StateContainer.SelectedCommande?.DeletedAt,
            };

        var requestMsg = new HttpRequestMessage(HttpMethod.Post, $"{NavigationManager.BaseUri}api/commande/update");
        requestMsg.Content = JsonContent.Create(commandeUpdate);

        using var msg = await HttpClient.SendAsync(requestMsg);

        if (msg.IsSuccessStatusCode)
        {
            StateContainer.NotifyCommandesUpdated();
        }

        ToastService.ShowSuccess("Commande mise à jour!");
        await InvokeAsync(StateHasChanged);
    }

    private async Task DeleteCommande()
    {
        var commandeUpdate = new Commande
            {
                Id = StateContainer.SelectedCommande?.Id,
                Id_Date = StateContainer.SelectedCommande?.Id_Date,
                DateCommande = StateContainer.SelectedCommande?.DateCommande,
                PrixHtva = StateContainer.SelectedCommande?.PrixHtva,
                PrixTvaC = StateContainer.SelectedCommande?.PrixTvaC,
                CreatedAt = StateContainer.SelectedCommande?.CreatedAt,
                UpdatedAt = DateTime.Now,
                DeletedAt = DateTime.Now,
            };

        var requestMsg = new HttpRequestMessage(HttpMethod.Post, $"{NavigationManager.BaseUri}api/commande/update");
        requestMsg.Content = JsonContent.Create(commandeUpdate);

        using var msg = await HttpClient.SendAsync(requestMsg);

        if (msg.IsSuccessStatusCode)
        {
            ToastService.ShowWarning("Commande effacée");
            await GoBack();
        }

    }

    private async Task RestoreDeletedCommande()
    {
        var commandeUpdate = new Commande
            {
                Id = StateContainer.SelectedCommande?.Id,
                Id_Date = StateContainer.SelectedCommande?.Id_Date,
                DateCommande = StateContainer.SelectedCommande?.DateCommande,
                PrixHtva = StateContainer.SelectedCommande?.PrixHtva,
                PrixTvaC = StateContainer.SelectedCommande?.PrixTvaC,
                CreatedAt = StateContainer.SelectedCommande?.CreatedAt,
                UpdatedAt = DateTime.Now,
                DeletedAt = null,
            };

        var requestMsg = new HttpRequestMessage(HttpMethod.Post, $"{NavigationManager.BaseUri}api/commande/update");
        requestMsg.Content = JsonContent.Create(commandeUpdate);

        using var msg = await HttpClient.SendAsync(requestMsg);

        if (msg.IsSuccessStatusCode)
        {
            ToastService.ShowInfo("Commande restaurée");
            await InvokeAsync(StateHasChanged);
            await GoBack();
        }
    }

    private async Task Reset()
    {
        await InvokeAsync(StateHasChanged);
    }

    private async Task GoBack()
    {
        await Task.Delay(500); 
        NavigationManager.NavigateTo("/commande");
    }
    public void Dispose()
    {
        StateContainer.OnCommandeUpdated -= OnCommandeUpdated;
        StateContainer.OnCommandeSelected -= OnCommandeSelected;
        StateContainer.OnCommandeArticleUpdated -= OnCommandeArticleUpdated;
    }

}
